// AVAILABLE SPACE MAIN STYLES & MODAL WINDOWS






.single-suite { // the post type
	
	article {
		text-align: left;
	}
	
	.article-header  {
		h1, h2, h3, h4 {
			}
		}
	
	.single-title {
		@include rem-fallback(font-size, 1.2);
		font-weight: 400;
		@include rem-fallback(margin, 0, 0, .375);
		}
	
	.details {
		width: 100%;
		background: $l-gray2;
	}
	
	.floor-number {
		//@include rem-fallback(font-size, 2.5);
		//@include rem-fallback(margin, 1, 0, 0);
		//text-transform: uppercase;
		//font-style: normal;
		//letter-spacing: 0;
		//font-weight: 300;
		//font-style: normal;
		//font-family: "futura-pt-n3", "futura-pt", $sans-serif;
		

		@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
			@include rem-fallback(margin, 2, 0, 0);
			}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/		
		
		
	}
.suite-number {
	text-transform: uppercase;
	@include rem-fallback(font-size, 2.2);
	font-weight: 300;
	letter-spacing: 0;
}
	
.sqft {
	.article-header & {
		@include rem-fallback(margin, 0, 0, 3);
		}
	}	

	.download-link  {
		text-transform: uppercase;
		@include rem-fallback(font-size, .75);
		@include rem-fallback(margin, 0, 0, 1.125, 0);
		letter-spacing: 0;
		display: block;
		
			a {
				background: $white;
				@include rem-fallback(padding, .25, .5);
				}
			
		}
	
	.sterling-plaza .download-link a  {
		color: $blue;
		}
	.preston-commons .download-link a {
		color: $l-copper;
		}

	
}// single-suite

// SPECIFIC TARGETING BASED ON PAGE

.sterling-plaza {
	section.twelvecol {
		background: lighten($blue, 10%);
		}
	section {
	}
}// sterling-plaza

.preston-commons {
	section.twelvecol {
		background: lighten($l-copper, 6%);
	}
}// preston-commons


.back {
	cursor: pointer;
	display: block;
	color: $white;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background: transparentize($white, .9);
	clear: both;
	@include rem-fallback(padding, 1, 0, 1, 1);
	 &:active, &:focus, &:hover {
		background: transparentize($white, .95);
		text-decoration: underline;
	 	}
	
	@include breakpoint(1060px, $no-query: '.no-mediaqueries') {
		display: none;
		}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/		
	
	
	}

.windowed-frame .back {
	display: none;
	}

.back-bottom {
	.sterling-plaza & {
		background: $blue;
		 &:active, &:focus, &:hover {
			background: transparentize($blue, .15);
			text-decoration: underline;
		 	}
		}// sp
	.preston-commons & {
		background: $l-copper;
			
		 &:active, &:focus, &:hover {
			background: transparentize($l-copper, .15);
			text-decoration: underline;
		 	}
		
		}// pc
}// back-bvottom


.suite-section-header { // the pulled out header style 
	text-transform: uppercase;
	font-family:	"futura-pt-n7", "futura-pt", $sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0;
	width: 100%;
	text-align: center;
	@include rem-fallback(margin, 0, 0, 1);
	.sterling-plaza & {
		color: $blue;
		}
	.preston-commons & {
		color: $l-copper;
		}
	.article-header & { // the suite number one
		@include rem-fallback(margin, 0, 0, 1);
		}
		&.sqft {
			@include rem-fallback(margin, 0, 0, 2);
			}
	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
		width: auto;
		text-align: left;
		margin: 0;
		.article-header & { // the suite number one
			@include rem-fallback(margin, 0, 0, 2);
			}
		&.sqft {
			@include rem-fallback(margin, 0, 0, 5);
			}
	}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/		

}// suite-section-header



.single-suite .article-header {
	@include rem-fallback(padding, 2);
	text-align: center;
	h1, h2, h3, h4, h4 a, .suite-section-header {
		color: $white;
		width: auto;
		}

	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
		@include rem-fallback(padding, 8, 2, 2);
		text-align: left;
		}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/		



}// article-header 



// SPECIFIC STYLES

.floor-plan {
	height: 350px;
	background: $blue;
	position: relative;
	img {
		max-height: 300px;
		margin: auto auto;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		}
		
	.preston-commons & {
		background: $l-copper;
		}
		
	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
		height: 500px;
		img {
			max-height: none;
			}
		}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/		
				
}// floor-plan



// THUMB-CAROUSEL
.thumb-carousel {
	@include rem-fallback(margin, 1, 0);
	}
.cycle-slideshow {
	width: 100%!important;



	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
	height: 130px;
	overflow: hidden;
	width: 90%!important;
	float: left;
		a {
			display: block;
				}
		li {
			@include hovers;
			width: 170px;
			height: 130px;
			&:hover {
				opacity: .7;
				}
			&:first-child {
				//@include rem-fallback(padding, .5, 1);
				}

			}// li
		.activeSlide {
			opacity: .7;
			}
	}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/		




}// cycle-slideshow

.cycle-slideshow li {
	
	.preston-commons & {
		background: $l-copper;
		}
	
	.sterling-plaza & {
		background: $blue;
		}
	
	
	
	}// cycle-slideshow li
	


#slideshow {
	}

#nav {
background: transparent;
height: 130px;
	li {
		@include rem-fallback(margin, 0, .2);
		width: 170px;
		&:before {
			content: "";
			margin: 0;
			}
		}
}
.prev, .next {
	position: relative;
	display: block;
	width: 100%;
	@include rem-fallback(margin, 1, 0);
	background: yellow;
	height: 75px;
	@include background($l-gray2);
	@include box-shadow(inset $l-gray 0 0 25px);
	@extend .image-replacement;

	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
		margin: 0;
		display: inline;
		cursor: pointer;

		@include rem-fallback(padding, 1);
		height: 130px;
		width: 5%;
	
			&:hover {
				@include background(darken($l-gray2, 10%));
				@include box-shadow(inset darken($l-gray, 10%) 0 0 25px);
				}
		}// * BP	
}

.prev, .next {
	&:before {
		content: "";
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		display: block;
		border-right: 12px solid darken($l-gray, 10%);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		//text-indent: 100%;
		}
	}
.next {
	&:before {
		border-right: none;
		border-left: 12px solid darken($l-gray, 10%);
		}
	}

.disabled {
	opacity: .3;
	cursor: not-allowed;
	}



// LEASING INFO
.leasing-information {
	@include rem-fallback(padding, 2, 0, 0);

	
	.suite-section-header {
			@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
				width: auto;
				@include rem-fallback(margin, 0, 0, 0, 3.5);
			}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/		

		}

	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
		@include rem-fallback(padding, 3, 0, 0);
		}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/		



}// leasing-information



.leasing-contact {
	text-align: center;
		@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
			text-align: left;
			@include rem-fallback(margin, -.125, 0, 0, 1.5);
			}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/
	section & p {
		width: auto;
		
		&.leasing-contact-phone {
			width: auto;
			@include rem-fallback(margin, 0);
			}
		
		
		}
	
}// leasing-contact

.leasing-contact-name {
	@include rem-fallback(font-size, 1.4);
	font-weight: 100;
	line-height: 1;
	
	.single-suite & {
		@include rem-fallback(margin, 0, 0, 1);
		}
	
}// contact-name

.leasing-contact-title-email {
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1;
	.single-suite & {
		@include rem-fallback(margin, 0, 0, 0);
		}
	a {
		text-decoration: none;
		color: $black;
			.sterling-plaza & {
				&:hover {
				color: $blue;
				}
			}
			.preston-commons & {
				&:hover {
				color: $l-copper;
				}
			}
		}
		
		
		
}// title-email

.leasing-contact-phone {
}// phone




// EMAIL SECTION STYLES
.suite-email {
	@include rem-fallback(margin, 2, 0);

	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
		@include rem-fallback(padding, 3, 0, 0);
		@include rem-fallback(margin, 0, 0, 1);

		}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/


}// suite-email


	#instructions {
		@extend .contact-name;
		width: 85%;
		text-align: center;
		@include rem-fallback(margin, 0, 0, 1.5);
		line-height: 1.231;
		margin-left: auto;
		margin-right: auto;
		@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
			@include rem-fallback(margin, -.25, 0, 1, 0);
			width: 85%;
			text-align: left;
			}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/

		
		}


// MODAL STYLES AND OVERRIDES

#colorbox, #cboxOverlay, #cboxWrapper {
	overflow: visible !important;
	}

#cboxLoadedContent {
	padding: 0!important;
	}
#cboxContent {
	margin-top: 0!important;
	background:transparent!important;
	}
#cboxBottomCenter {
	background: transparent!important;
	}
#cboxClose {
	//float: left;
	//top: 0;
	//@include rem-fallback(right, 1.5);
	right: -.5rem !important;
	top: -.5rem!important;
	width: 40px;
	height: 40px;
	background-size: 100%;
}

#colorbox  {
	width: 90% !important;
	max-width: 1000px;
	//height: 100% !important;
	//overflow: visible!important;
	left: 0 !important;
	right: 0 !important;
	//top: 0 !important;
	//bottom: 0 !important;
	margin: 0 auto;
	//position: fixed!important;
	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
		width: 90% !important;
		//height: 90% !important;
		//position: absolute!important;
		//top: 0;
		//bottom: 0;
		}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/
	}
#cboxContent, #cboxWrapper, #cboxLoadedContent {
	width: 100% !important;
	height: 100%!important;
	padding: 0 !important;
	overflow: visible !important; 

		@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
			height: 90% !important;
			}// * BP //++++++++++++++++++++++++++++++++++++++++++++++++/
	}
#cboxWrapper {
	overflow: visible !important; 
}
#cboxLoadedContent {
	iframe {
		min-height: 1100px !important;
		}
}

#cboxContent {
	margin-top: 0!important;
}

#cboxTitle,
#cboxBottomCenter {
	display: none;
	}
